# 1. Writing More Complex Queries

In [1]:
%load_ext sql
%sql sqlite://

%sql sqlite:////home/mohammeds/datasets/jobs.db

In [4]:
%%sql

SELECT Major, ShareWomen
    FROM recent_grads
WHERE ShareWomen>0.5225502029537575
LIMIT 10

   sqlite://
 * sqlite:////home/mohammeds/datasets/jobs.db
Done.

[('ACTUARIAL SCIENCE', 0.535714286),
 ('COMPUTER SCIENCE', 0.578766338),
 ('ENVIRONMENTAL ENGINEERING', 0.558548009),
 ('NURSING', 0.896018988),
 ('INDUSTRIAL PRODUCTION TECHNOLOGIES', 0.75047259),
 ('COMPUTER AND INFORMATION SYSTEMS', 0.7077185020000001),
 ('INFORMATION SCIENCES', 0.526475764),
 ('APPLIED MATHEMATICS', 0.75392736),
 ('PHARMACOLOGY', 0.524152583),
 ('OCEANOGRAPHY', 0.688999173)]

# 2. Subqueries

Our method in the previous screen lacks flexibility and requires extra work. Fortunately, SQL allows us to answer questions with a single query.

How do we make the computed average value, 0.5225502029537575, dynamic? We can do this by using subqueries. A subquery is a query nested within another query. Here's a template for a SQL statement where the subquery resides in the WHERE clause:

    SELECT Major, ShareWomen FROM recent_grads
    WHERE ShareWomen > (subquery that returns the average value for ShareWomen)
    
![](https://dq-content.s3.amazonaws.com/255/subquery_flow.svg)

In [8]:
%%sql

SELECT Major, Unemployment_rate
    FROM recent_grads
WHERE Unemployment_rate<(SELECT AVG(Unemployment_rate) FROM recent_grads)
LIMIT 10;

   sqlite://
 * sqlite:////home/mohammeds/datasets/jobs.db
Done.

[('PETROLEUM ENGINEERING', 0.018380527),
 ('METALLURGICAL ENGINEERING', 0.024096386),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 0.050125313),
 ('CHEMICAL ENGINEERING', 0.061097712),
 ('ASTRONOMY AND ASTROPHYSICS', 0.021167415),
 ('MECHANICAL ENGINEERING', 0.057342277999999997),
 ('ELECTRICAL ENGINEERING', 0.059173845),
 ('COMPUTER ENGINEERING', 0.065409275),
 ('AEROSPACE ENGINEERING', 0.065162085),
 ('MATERIALS SCIENCE', 0.023042836)]

# 3. Subquery in SELECT

In [15]:
%%sql

SELECT CAST(COUNT(*) AS Float)/(SELECT COUNT(*) FROM recent_grads) AS proportion_abv_avg
    FROM recent_grads
WHERE ShareWomen>(SELECT AVG(ShareWomen) FROM recent_grads);

   sqlite://
 * sqlite:////home/mohammeds/datasets/jobs.db
Done.

[(0.5260115606936416,)]

# 4. The IN Operator

![](https://s3.amazonaws.com/dq-content/255/sqlite_operators.png)

In [17]:
%%sql

SELECT Major_category, Major
    FROM recent_grads
WHERE Major_category IN ("Business","Humanities & Liberal Arts","Education");

   sqlite://
 * sqlite:////home/mohammeds/datasets/jobs.db
Done.

[('Business', 'ACTUARIAL SCIENCE'),
 ('Business', 'MANAGEMENT INFORMATION SYSTEMS AND STATISTICS'),
 ('Business', 'OPERATIONS LOGISTICS AND E-COMMERCE'),
 ('Business', 'FINANCE'),
 ('Business', 'BUSINESS ECONOMICS'),
 ('Business', 'ACCOUNTING'),
 ('Education', 'SCHOOL STUDENT COUNSELING'),
 ('Business', 'GENERAL BUSINESS'),
 ('Business', 'INTERNATIONAL BUSINESS'),
 ('Business', 'MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION'),
 ('Humanities & Liberal Arts', 'UNITED STATES HISTORY'),
 ('Business', 'BUSINESS MANAGEMENT AND ADMINISTRATION'),
 ('Business', 'MARKETING AND MARKETING RESEARCH'),
 ('Business', 'HUMAN RESOURCES AND PERSONNEL MANAGEMENT'),
 ('Humanities & Liberal Arts', 'AREA ETHNIC AND CIVILIZATION STUDIES'),
 ('Education', 'SPECIAL NEEDS EDUCATION'),
 ('Education', 'GENERAL EDUCATION'),
 ('Humanities & Liberal Arts', 'HISTORY'),
 ('Humanities & Liberal Arts', 'FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES'),
 ('Humanities & Liberal Arts', 'INTERCULTURAL AND INTERNATIONAL STUDIES'),
 ('Education', 'SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION'),
 ('Education', 'MATHEMATICS TEACHER EDUCATION'),
 ('Education', 'EDUCATIONAL ADMINISTRATION AND SUPERVISION'),
 ('Business', 'HOSPITALITY MANAGEMENT'),
 ('Education', 'LANGUAGE AND DRAMA EDUCATION'),
 ('Humanities & Liberal Arts', 'LINGUISTICS AND COMPARATIVE LANGUAGE AND LITERATURE'),
 ('Education', 'MISCELLANEOUS EDUCATION'),
 ('Education', 'SECONDARY TEACHER EDUCATION'),
 ('Humanities & Liberal Arts', 'PHILOSOPHY AND RELIGIOUS STUDIES'),
 ('Education', 'ART AND MUSIC EDUCATION'),
 ('Humanities & Liberal Arts', 'ENGLISH LANGUAGE AND LITERATURE'),
 ('Education', 'ELEMENTARY EDUCATION'),
 ('Humanities & Liberal Arts', 'LIBERAL ARTS'),
 ('Education', 'SCIENCE AND COMPUTER TEACHER EDUCATION'),
 ('Education', 'PHYSICAL AND HEALTH EDUCATION TEACHING'),
 ('Humanities & Liberal Arts', 'ART HISTORY AND CRITICISM'),
 ('Education', 'TEACHER EDUCATION: MULTIPLE LEVELS'),
 ('Humanities & Liberal Arts', 'HUMANITIES'),
 ('Humanities & Liberal Arts', 'THEOLOGY AND RELIGIOUS VOCATIONS'),
 ('Humanities & Liberal Arts', 'ANTHROPOLOGY AND ARCHEOLOGY'),
 ('Education', 'EARLY CHILDHOOD EDUCATION'),
 ('Humanities & Liberal Arts', 'OTHER FOREIGN LANGUAGES'),
 ('Humanities & Liberal Arts', 'COMPOSITION AND RHETORIC'),
 ('Education', 'LIBRARY SCIENCE')]

# 5. Returning Multiple Results in Subqueries

In [18]:
%%sql

SELECT Major_category, Major
    FROM recent_grads
WHERE Major_category IN (SELECT Major_CATEGORY
                            FROM recent_grads
                        GROUP BY Major_category
                        ORDER BY SUM(Total) DESC
                        LIMIT 3);

   sqlite://
 * sqlite:////home/mohammeds/datasets/jobs.db
Done.

[('Business', 'ACTUARIAL SCIENCE'),
 ('Business', 'MANAGEMENT INFORMATION SYSTEMS AND STATISTICS'),
 ('Business', 'OPERATIONS LOGISTICS AND E-COMMERCE'),
 ('Business', 'FINANCE'),
 ('Business', 'BUSINESS ECONOMICS'),
 ('Business', 'ACCOUNTING'),
 ('Education', 'SCHOOL STUDENT COUNSELING'),
 ('Business', 'GENERAL BUSINESS'),
 ('Business', 'INTERNATIONAL BUSINESS'),
 ('Business', 'MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION'),
 ('Humanities & Liberal Arts', 'UNITED STATES HISTORY'),
 ('Business', 'BUSINESS MANAGEMENT AND ADMINISTRATION'),
 ('Business', 'MARKETING AND MARKETING RESEARCH'),
 ('Business', 'HUMAN RESOURCES AND PERSONNEL MANAGEMENT'),
 ('Humanities & Liberal Arts', 'AREA ETHNIC AND CIVILIZATION STUDIES'),
 ('Education', 'SPECIAL NEEDS EDUCATION'),
 ('Education', 'GENERAL EDUCATION'),
 ('Humanities & Liberal Arts', 'HISTORY'),
 ('Humanities & Liberal Arts', 'FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES'),
 ('Humanities & Liberal Arts', 'INTERCULTURAL AND INTERNATIONAL STUDIES'),
 ('Education', 'SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION'),
 ('Education', 'MATHEMATICS TEACHER EDUCATION'),
 ('Education', 'EDUCATIONAL ADMINISTRATION AND SUPERVISION'),
 ('Business', 'HOSPITALITY MANAGEMENT'),
 ('Education', 'LANGUAGE AND DRAMA EDUCATION'),
 ('Humanities & Liberal Arts', 'LINGUISTICS AND COMPARATIVE LANGUAGE AND LITERATURE'),
 ('Education', 'MISCELLANEOUS EDUCATION'),
 ('Education', 'SECONDARY TEACHER EDUCATION'),
 ('Humanities & Liberal Arts', 'PHILOSOPHY AND RELIGIOUS STUDIES'),
 ('Education', 'ART AND MUSIC EDUCATION'),
 ('Humanities & Liberal Arts', 'ENGLISH LANGUAGE AND LITERATURE'),
 ('Education', 'ELEMENTARY EDUCATION'),
 ('Humanities & Liberal Arts', 'LIBERAL ARTS'),
 ('Education', 'SCIENCE AND COMPUTER TEACHER EDUCATION'),
 ('Education', 'PHYSICAL AND HEALTH EDUCATION TEACHING'),
 ('Humanities & Liberal Arts', 'ART HISTORY AND CRITICISM'),
 ('Education', 'TEACHER EDUCATION: MULTIPLE LEVELS'),
 ('Humanities & Liberal Arts', 'HUMANITIES'),
 ('Humanities & Liberal Arts', 'THEOLOGY AND RELIGIOUS VOCATIONS'),
 ('Humanities & Liberal Arts', 'ANTHROPOLOGY AND ARCHEOLOGY'),
 ('Education', 'EARLY CHILDHOOD EDUCATION'),
 ('Humanities & Liberal Arts', 'OTHER FOREIGN LANGUAGES'),
 ('Humanities & Liberal Arts', 'COMPOSITION AND RHETORIC'),
 ('Education', 'LIBRARY SCIENCE')]

# 6. Building Complex Subqueries

In [21]:
%%sql

SELECT AVG(CAST(Sample_size AS Float)/Total) AS avg_ratio
    FROM recent_grads

   sqlite://
 * sqlite:////home/mohammeds/datasets/jobs.db
Done.

[(0.009085896594349793,)]

# 7. Practice Integrating A Subquery With The Outer Query

In [27]:
%%sql

SELECT Major, Major_category, CAST(Sample_size AS Float)/Total AS ratio
    FROM recent_grads
WHERE ratio > (SELECT AVG(CAST(Sample_size AS Float)/Total) AS avg_ratio FROM recent_grads)
LIMIT 10;

   sqlite://
 * sqlite:////home/mohammeds/datasets/jobs.db
Done.

[('PETROLEUM ENGINEERING', 'Engineering', 0.015391192817443352),
 ('MINING AND MINERAL ENGINEERING', 'Engineering', 0.009259259259259259),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering', 0.012718600953895072),
 ('ACTUARIAL SCIENCE', 'Business', 0.013502779984114376),
 ('MECHANICAL ENGINEERING', 'Engineering', 0.01127955539478444),
 ('COMPUTER ENGINEERING', 'Engineering', 0.009604737374223677),
 ('AEROSPACE ENGINEERING', 'Engineering', 0.00976225262319033),
 ('INDUSTRIAL AND MANUFACTURING ENGINEERING', 'Engineering', 0.009647827920708563),
 ('ARCHITECTURAL ENGINEERING', 'Engineering', 0.009203539823008849),
 ('COURT REPORTING', 'Law & Public Policy', 0.012195121951219513)]

# 8. Next Steps

In this lesson, we explored how to write more complex and dynamic queries using subqueries.

You've come a long way! In this course you learned about the following:

* Databases and tables in databases.
* Queries and some of their components.
* Querying databases using SQL.
* Computing summary statistics by group and for the whole table.
* A mental model for the order of execution in a query.